.social-container{
    
    border:1px solid;
    border-radius: 4px;
    
    
    font-size:1.2rem;
}
/* .social-header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    padding: 6px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    background: rgb(29,161,242);
    background: linear-gradient(90deg, rgba(29,161,242,1) 0%, rgba(220,75,62,1) 100%);
  } */

.btn{
   
}
.facebook{
    color:#405D9A;
    /* background-color: #000; */
    border-right:1px solid black;
    text-align: center;
   
}

.twitter{
    color:#71C9F8;
    /* background-color: #000; */
    border-right:1px solid black;
}

.instagram {

/* background: #d6249f; */
  color: #E1306C
}

.col-sm{
    text-align: center; 
}


 /* Grid Panel */

 /* .social-grid-wrapper {
    
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 4px;
    background-color: #2196F3;
    padding: 10px;
    justify-items: stretch;
} */

/* .social-box {
    background-color: #444;
    text-align: center;
    padding: 5px;
    margin: 5px;
    
} */



/* *********************************************************************** */


  